/* You can add global styles to this file, and also import other style files */

table {
  height: 1px;
}

table td {
  vertical-align: top;
}

table .item,
table .entered {
  width: 100%;
  display: block;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  cursor: grab;
}

table .item {
  border: 3px dashed lightcoral;
}

table .item:hover {
  background: lightblue;
}

table .entered {
  border: 3px dashed lightgreen;
}

app-version-4-cell,
app-version-5-cell {
  display: block;
  width: 100%;
  height: 100%;
}
